.sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100px;

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    border-radius: 8px;
  }
}